/* Variables */
/* mixins */
.padding, .cb-box, #cb-bookingbar .inner, .cb-timeframe, #cb-bookingbar-msg {
  padding: 1em; }

.align-right, #cb-bookingbar .booking #cb-submit, .cb-list ul li span.cb-action {
  float: right; }

.cb-small, .cb-timeframe .cb-location .cb-date, .cb-timeframe .cb-location .cb-address, .cb-timeframe .cb-location .cb-contact {
  font-size: 0.8em; }

.cb-big, .cb-headline, #cb-bookingbar .booking #date-start, #cb-bookingbar .booking #date-end, #cb-bookingbar .booking #cb-submit, .cb-timeframe .cb-location .cb-location-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #3356a4; }

.cb-headline {
  margin-bottom: 1em; }
  .cb-headline a {
    color: #3356a4; }

.border, .cb-box, #cb-bookingbar .inner, .cb-timeframe, .cb-list ul li {
  border-top: 1px solid #e1e1e1;
  display: block; }

.cb-row {
  border-bottom: 1px solid #e1e1e1;
  padding: 0.5em; }

.cb-box, #cb-bookingbar .inner, .cb-timeframe {
  background: #f6f6f6;
  margin-bottom: 1em;
  overflow: hidden; }

.cb-booking-code strong {
  padding: 5px;
  display: block;
  font-family: Courier, monospaced;
  color: green;
  font-weight: normal; }

.confirmed {
  color: #56a820; }

/*****************
 * ITEMS LIST
 *
 */
/*****************
 * ITEMS SINGLE
 *
 */
.cb-description {
  margin-bottom: 2em; }

/*****************
* ITEMS SINGLE: Bookingbar
*
*/
#cb-bookingbar-msg.error {
  background: red;
  color: white; }
#cb-bookingbar-msg.notice {
  background: green;
  color: white; }

#cb-bookingbar {
  z-index: 99;
  position: fixed;
  height: auto;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0; }
  #cb-bookingbar .inner {
    margin: 0;
    background: white;
    overflow: hidden; }
  #cb-bookingbar .cb-userinfo {
    display: block; }
  #cb-bookingbar .booking #intro {
    display: none; }
  #cb-bookingbar .booking #date-start, #cb-bookingbar .booking #date-end, #cb-bookingbar .booking #cb-submit {
    color: #56a820;
    float: left;
    margin-right: 20px; }
    #cb-bookingbar .booking #date-start span, #cb-bookingbar .booking #date-end span, #cb-bookingbar .booking #cb-submit span {
      font-weight: bold;
      color: #3356a4;
      display: inline;
      padding: 0 0.2em; }
      #cb-bookingbar .booking #date-start span.cb-day, #cb-bookingbar .booking #date-end span.cb-day, #cb-bookingbar .booking #cb-submit span.cb-day {
        display: none; }

/*****************
 * LISTS
 *
 */
.cb-list .cb-list-item {
  margin-bottom: 1em;
  display: block;
  overflow: hidden; }
.cb-list ul {
  overflow: hidden;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0; }
  .cb-list ul li {
    list-style: none;
    background: #fff; }
    .cb-list ul li:hover {
      background: #fff; }

/*****************
 * ITEMS SINGLE Timeframes
 *
 */
.cb-timeframe {
  /* Calendar */ }
  .cb-timeframe .pusher.day1, .cb-timeframe ul.cb-calendar li.day1:first-child {
    margin-left: 0; }
  .cb-timeframe .pusher.day2, .cb-timeframe ul.cb-calendar li.day2:first-child {
    margin-left: 14.28571%; }
  .cb-timeframe .pusher.day3, .cb-timeframe ul.cb-calendar li.day3:first-child {
    margin-left: 28.57143%; }
  .cb-timeframe .pusher.day4, .cb-timeframe ul.cb-calendar li.day4:first-child {
    margin-left: 42.85714%; }
  .cb-timeframe .pusher.day5, .cb-timeframe ul.cb-calendar li.day5:first-child {
    margin-left: 57.14286%; }
  .cb-timeframe .pusher.day6, .cb-timeframe ul.cb-calendar li.day6:first-child {
    margin-left: 71.42857%; }
  .cb-timeframe .pusher.day7, .cb-timeframe ul.cb-calendar li.day7:first-child {
    margin-left: 85.71429%; }
  .cb-timeframe .cb-location {
    display: block;
    overflow: hidden; }
    .cb-timeframe .cb-location .cb-date, .cb-timeframe .cb-location .cb-address, .cb-timeframe .cb-location .cb-contact {
      padding-left: 0; }
  .cb-timeframe ul.cb-calendar {
    list-style: none;
    clear: both;
    overflow: hidden;
    margin: 1em 0 1em 0; }
    .cb-timeframe ul.cb-calendar input {
      display: none; }
    .cb-timeframe ul.cb-calendar li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 14.28571%;
      height: 80px;
      overflow: hidden;
      padding: 10px;
      float: left;
      text-align: center;
      background: white;
      color: #e1e1e1;
      border: 1px solid #f6f6f6; }
      .cb-timeframe ul.cb-calendar li.bookable {
        cursor: pointer;
        color: white;
        background: #56a820; }
        .cb-timeframe ul.cb-calendar li.bookable:hover {
          background: #155113;
          color: white; }
      .cb-timeframe ul.cb-calendar li.selected {
        border: 1px solid #3356a4;
        background: #3356a4;
        color: white; }
      .cb-timeframe ul.cb-calendar li.booked {
        background: #e1e1e1;
        color: #a70001; }
    .cb-timeframe ul.cb-calendar .cb-day {
      display: block;
      font-size: 0.8em; }
    .cb-timeframe ul.cb-calendar .cb-date {
      display: block; }

/*# sourceMappingURL=commons-booking.css.map */
